@mixin flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: min(90%, 80rem);
  @include flex;
}

#project {
  max-width: 600px;
  margin-top: 4rem;
  @include flex;
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  &::after {
    background: #ff000084;
    content: "";
    height: 10px;
    width: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
    transition: all 0.3s ease-in-out ;

  }
  img {
    object-fit:cover;
    max-width: 100%;
  }  &:hover {
    overflow: visible;
    &::after {
      height: 100%;
      width: 100%;
      filter: blur(80px);
      opacity: 0.3;
    }
  }
}
.hire {
  a {
    transform: translateY(0);
  }
  &::after {
    height: 100%;
  }
}

#sub {
  font-weight: 500;
}

@media (min-width: 688px) {

  #project {
    margin: 1rem;
    width: 350px;
    height: 570px;
  }
  .container {
    @include flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #project {}
}